body {
    background-color: rgb(53, 3, 63);
    font-family: fantasy;
    color: whitesmoke;
}

header {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

header h2 {
    background-color: rgb(67, 47, 87);
    display: inline-block;
    padding: 30px;
    border-radius: 50px;
}

main {
    margin-top: 100px;
    text-align: center;
}

.card {
    background-color: rgb(67, 47, 87);
    display: inline-block;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
    margin: 5px;
    font-family: sans-serif;
}

